# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.env

# IDE
.idea/
.vscode/

# Logs
logs/*.log

# Reports generated during execution
reports/*.html
reports/*.csv

# OS files
.DS_Store
Thumbs.db

# Oracle wallet/security files
wallet/
*.zip

